body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

/******************************CRICLES******************************************/
.top-cricle {
  position: absolute;
  top: -75%;
  left: -20%;
  z-index: -1;
}

.bottom-cricle {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 36%;
  left: 57.5%;
  z-index: -1;
}

/************************************RESPONSIVE********************************/
@media only screen and (max-width:1050px) {
  .top-cricle {
    width: 70%
  }
}

@media only screen and (max-width:800px) {
  .top-cricle {
    top: -25%;
    left: -20%;
  }
}

@media only screen and (max-width:500px) {
  .top-cricle {
    top: -5%;
    left: -20%;
  }

  .bottom-cricle {
    top: 50%
  }
}
@media only screen and (max-width:375px) {
  .bottom-cricle {
    top:50%;
  
  }
}


/*************************************PROFILE-CARD*****************************/
.card-container {
  box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 10% auto;
}

.upper-card {
  height: 40%;
  border-radius: 10px 10px 0 0;
  background: url("bg-pattern-card.svg") top 50% left 0, right 0 bottom 250px/100% no-repeat;
}

.profile {
  border-radius: 50%;
  position: relative;
  top: 130px;
  left: 100px;
  border: white solid 5px;
}

.middle-card {
  text-align: center;
  position: relative;
  top: 32px;
}

.bold {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.lighter {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: hsl(227, 10%, 46%);
}

.light-med {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.lower-card {
  border-top: 1px solid lightgrey;
  position: relative;
  top: 120px;
}

.bottom-info {
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 2%;
}

.left {
  margin-left: 5%;
}

.right {
  margin-right: 5%;
}
